/* General Styles */
* {
    box-sizing: border-box;
}

/* Sitewide Classes */
.container {
    width: 880px; /* Between 600-1000px is a good mid width for the screen */
    margin: 0 auto; /* centers the text */
}